body {
  /* padding-top: 70px; */
}
.level0{
}
.level1{
	margin-left:30px;
}
.level2{
	margin-left:60px;
}
.level3{
	margin-left:90px;
}
/* 
.good{
background-color:#5cb85c;
color:#fff;
}
.bad{
background-color:#d9534f;
color:#fff;
} */